*{
    padding: 0;
    margin: 0;
}

nav{
    height:15vh;
    width:100vw;
    background-color: black;
    box-sizing: border-box;
}

nav ul{
    display:flex ;
    flex-direction: row;
    padding: 20px 20px;
    list-style: none;

}

nav ul li{
    padding: 20px 20px;
    font-size: larger;
    

}

nav ul li a{
    text-decoration:none;
    color: bisque;
}

li:hover{
    transform:scale(1.05,1.05);
}

.container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100vw;
    height: 320vh;

}

#section1{
    padding: 12px 12px;
    height: 100vh;
    width: 100vw;
    background-color: blanchedalmond;
    box-sizing: border-box;
}

#section2{
    padding: 12px 12px;
    height: 100vh;
    width: 100vw;
    background-color: bisque;
    box-sizing: border-box;

}
#section3{
    padding: 12px 12px; 
    height: 100vh;
    width: 100vw;
    background-color: beige;
    box-sizing: border-box;

}